
<template>
  <div id="gameOverScreen">
    <div class="titleAndButton">
      <h2>You scored {{score}}/{{maxScore}} points!</h2>
      <button @click="playAgain">Play again</button>
    </div>
    <div class="tableDiv">
      <table>
        <tr class="th">
          <th>Questions</th>
          <th>Your answers</th>
          <th>Correct answers</th>
        </tr>
        <tr v-for="question of this.questions" :key="question.question">
          <td v-html="question.question"></td>
          <td
            :class="{'correct': question.correct_answer==question.users_answer, 'incorrect': question.correct_answer!=question.users_answer}"
            v-html="question.users_answer"
          ></td>
          <td class="correctAnswers" v-html="question.correct_answer"></td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
import { getScore, getQuestions, getMaxScore } from "../utils/storage";

export default {
  title: "GameOverScreen",
  created() {
    this.score = getScore();
    this.questions = getQuestions();
  },
  methods: {
    playAgain() {
      this.$router.push({ path: "/" });
    },
  },
  data() {
    return {
      score: "",
      questions: [],
      maxScore: getMaxScore(),
    };
  },
};
</script>

<style scoped>
.titleAndButton {
  padding-bottom: 20px;
}
#gameOverScreen {
  text-align: center;
  color: white;
}
table {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-spacing: 40px 2px;
  border-radius: 20px;
  background: #1474ac;
}
.tableDiv {
  display: inline-block;
}
button {
  width: 200px;
  height: 50px;
  font-size: 20px;
  margin-bottom: 15px;
  border-radius: 3px;
  border-width: 1px;
  color: rgb(1, 68, 107);
}
button:hover {
  background: rgb(204, 204, 204);
}
.correct {
  color: rgb(0, 255, 13);
}
.correctAnswers {
  color: rgb(0, 255, 13);
}
.incorrect {
  color: rgb(255, 4, 4);
}
th {
  font-size: 30px;
  height: 50px;
}
td {
  border-bottom: 1px solid black;
  font-size: 20px;
  padding: 10px;
}
h2 {
  font-size: 40px;
}
</style>