<template>
  <div id="startScreen">
    <h1 class="titleText">{{title}}</h1>
    <p class="descriptionText">{{ description }}</p>
    <div class="button-container">
      <button @click="startGameOnClick">{{buttonText}}</button>
    </div>
    <p class="loadingCategoriesText" v-if="loading">{{loadingText}}</p>
    <p class="errorMessage">{{this.msg}}</p>
    <p class="gameOptionsTitle" v-if="!loading">{{gameOptionsText}}</p>
    <div class="choicesDiv">
      <div class="categoryClass">
        <p>{{categoryTitle}}</p>
        <select v-model="selectedCategory">
          <option
            v-for="category in categories"
            :key="category.id"
            v-bind:value="category.id"
          >{{category.name}}</option>
        </select>
      </div>
      <div class="questionClass">
        <p>{{questionTitle}}</p>
        <select v-model="selectedAmount">
          <option v-for="n in questionOptions" :key="n.value" v-bind:value="n">{{n}}</option>
        </select>
      </div>
      <div class="difficultyClass">
        <p>{{difficultyTitle}}</p>
        <select v-model="selectedDifficulty">
          <option v-for="n in difficultyOptions" :key="n.value" v-bind:value="n">{{n}}</option>
        </select>
      </div>
    </div>
  </div>
</template>

<script>
import { getTriviaCategories } from "../api/api";
import {
  setCategory,
  getErrorMessage,
  setErrorMessage,
} from "../utils/storage";
import { setAmount } from "../utils/storage";
import { setDifficulty } from "../utils/storage";

export default {
  props: {},
  components: {},
  async created() {
    try {
      this.categories = await getTriviaCategories();
      //Fill out dropdowns
      this.selectedCategory = this.categories[0].id;
      this.selectedAmount = this.questionOptions[0];
      this.selectedDifficulty = this.difficultyOptions[0];
      const msg = getErrorMessage();
      if (msg) {
        this.msg = msg;
        setErrorMessage("");
      }
    } catch (err) {
      console.log(err);
    } finally {
      this.loading = false;
    }
  },
  mounted() {},
  methods: {
    startGameOnClick() {
      setCategory(this.selectedCategory);
      setAmount(this.selectedAmount);
      setDifficulty(this.selectedDifficulty);
      this.$router.push({ path: "/trivia" });
    },
  },
  data() {
    return {
      loading: true,
      categories: [],
      questionOptions: ["5", "10", "15"],
      difficultyOptions: ["Easy", "Medium", "Hard"],
      title: "Trivia Quiz Game",
      description: "Welcome to the Trivia Quiz Game",
      buttonText: "Start New Game",
      loadingText: "Fetching game categories......",
      gameOptionsText: "Game options",
      categoryTitle: "Categories: ",
      questionTitle: "Number of questions:",
      difficultyTitle: "Difficulty: ",
      selectedCategory: "",
      selectedAmount: "",
      selectedDifficulty: "",
      msg: "",
    };
  },
};
</script>

<style scoped>
.titleText {
  color: white;
  font-size: 50px;
}
.descriptionText {
  color: white;
}
.loadingCategoriesText {
  color: white;
  font-size: 20px;
}
.gameOptionsTitle {
  color: white;
  font-size: 20px;
}
#startScreen {
  padding-top: 3%;
}
div {
  text-align: center;
  width: auto;
}
.button-container {
  text-align: center;
  display: inline-block;
  margin-top: 10px;
}
button {
  display: block;
  width: 200px;
  height: 50px;
  font-size: 20px;
  margin-bottom: 15px;
  border-radius: 3px;
  border-width: 1px;
  color: #000000;
}
button:hover {
  background: rgb(204, 204, 204);
}
.choicesDiv {
  width: 400px;
  height: auto;
  margin: auto;
  color: white;
}
.categoryClass {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.questionClass {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.difficultyClass {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.choicesDiv p {
  padding-right: 5px;
}

.errorMessage {
  color: red;
  font-weight: bold;
}
</style>