<template>
  <div id="trivia-screen">
    <div v-if="this.loaded">
      <TriviaQuestion :currentQuestion="currentQuestion" @answer-clicked="answerClicked" />
    </div>
    <div class="quitGame" v-if="this.loaded">
      <button @click="quitGame()">quit</button>
    </div>
  </div>
</template>

<script>
import { getTriviaQuestions } from "../api/api";
import TriviaQuestion from "./TriviaQuestion";
import {
  getDifficulty,
  getAmount,
  getCategory,
  setScore,
  setQuestions,
  setErrorMessage,
  setMaxScore,
} from "../utils/storage";

let currentQuestionCount = 0;

export default {
  title: "TriviaScreen",
  components: {
    TriviaQuestion,
  },
  async created() {
    try {
      this.difficulty = getDifficulty();
      this.amount = getAmount();
      setMaxScore(getAmount() * 10);
      this.category = getCategory();
      this.questions = await getTriviaQuestions(
        this.amount,
        this.category,
        this.difficulty
      );
      if (this.questions.length <= 0) {
        setErrorMessage("Something went wrong when getting the questions");
        this.$router.push({ path: "/" });
      } else {
        this.currentQuestion = this.questions[currentQuestionCount];
      }
    } catch (err) {
      console.log(err);
    } finally {
      this.loaded = true;
    }
  },
    methods: {
        answerClicked(answer){
            if(answer == this.currentQuestion.correct_answer){
              this.totalScore+=10;
            }
            this.questions[this.currentQuestionCount].users_answer = answer;
            this.currentQuestionCount++;
            if(this.currentQuestionCount != this.questions.length){
              this.currentQuestion = this.questions[this.currentQuestionCount];
            }else{
              //Naviagte to result screen
              this.loaded = false;
              setScore(this.totalScore);
              setQuestions(this.questions);
              this.$router.push({path: '/gameOver'});
            }
        },
        quitGame(){
          this.loaded = false;
          setScore(0);
          setErrorMessage('You quit the game!');
          this.$router.push({path: '/'});
        }
    },
  data() {
    return {
      loaded: false,
      questions: [],
      currentQuestion: {},
      currentQuestionCount: 0,
      totalScore: 0,
      maxScore: 0,
      amount: "",
      difficulty: "",
      category: "",
    };
  }
}
</script>

<style scoped>
button {
  width: 70px;
  font-size: 20px;
  text-align: center;
}
.quitGame {
  text-align: center;
  padding-top: 15px;
}
button:hover {
  background-color: rgb(179, 179, 179);
}
</style>