<template>
  <div id="trivia-question">
    <h1>
      <span v-html="this.currentQuestion.question"></span>
    </h1>
    <div class="answer-container">
      <button v-for="a of this.answers" :key="a" v-on:click="answerClicked(a)" class="answer">
        <span v-html="a"></span>
      </button>
    </div>
  </div>
</template>

<script>
import { randomizeArray } from "../helper";

export default {
  title: "TriviaQuestion",
  props: {
    currentQuestion: {
      type: Object,
      required: true,
    },
  },
  mounted() {
    this.correctAnswer = this.currentQuestion.correct_answer;
    const answers = [...this.currentQuestion.incorrect_answers];
    answers.push(this.correctAnswer);
    this.answers = randomizeArray(answers);
  },
  beforeUpdate() {
    const answers = [...this.currentQuestion.incorrect_answers];
    this.correctAnswer = this.currentQuestion.correct_answer;
    answers.push(this.correctAnswer);
    this.answers = randomizeArray(answers);
  },
  methods: {
    answerClicked(answer) {
      this.$emit("answer-clicked", answer);
    },
  },
  data() {
    return {
      answers: [],
      correctAnswer: {},
    };
  },
};
</script>

<style scoped>
#trivia-question {
  background: #1474ac;
}
div {
  border-radius: 25px;
  margin-bottom: 2em;
  padding: 1em 1em 2.5em;
  width: 50%;
  margin: auto;
}
h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 30px;
  height: 100px;
  width: auto;
  padding-bottom: 10px;
}
button {
  align-self: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 190px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 1.25em;
  color: rgb(0, 0, 0);
  margin: 0.5em 0;
  padding: 1em;
  width: 100%;
  text-align: center;
}
button:hover {
  background-color: rgb(179, 179, 179);
}
</style>